.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    color: #fff;
    position: relative;
    border: 2px solid rgba(128, 0, 128, 0.5); /* Borda roxa leve */
}

.close {
    position: absolute;
    top: 15px; /* Ajustado para descer um pouco */
    right: 15px; /* Ajustado para entrar mais no modal */
    font-size: 1.5rem;
    cursor: pointer;
    color: #800080;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4b0082;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #800080;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-container label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-container input {
    margin-right: 10px;
}
