/* src/componentes/destaque/destaque.css */

.video-carrossel {
    position: relative;
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.carrossel-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.video-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
}

.video-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    background-color: #800080;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #4b0082;
}
