.video-carrossel {
    position: relative;
    height: 70vh;
    max-width: 90%;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px 5px rgba(128, 0, 128, 0.5);
    margin-top: 20px;
}

.carrossel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.video-info {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 40%;
    margin-right: 20px;
}

.video-container {
    width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container iframe {
    width: 100%;
    height: 45vh;
    border-radius: 10px;
}

.navigation {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: #800080;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5);
    border-radius: 50%;
    padding: 5px;
}

.nav-button:hover {
    transform: scale(1.1);
}
