.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    width: 100%;
    box-sizing: border-box;
}

.div_image img {
    max-width: 100px; /* Limita o tamanho máximo da imagem */
    height: auto;
}

.div_button {
    display: flex;
    gap: 10px;
}

.div_button button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap; /* Evita que o texto do botão quebre em linhas menores */
}

.div_button button:hover {
    background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }

    .div_button {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .div_button button {
        margin: 5px;
    }
}

@media (max-width: 480px) {
    .cabecalho {
        padding: 10px;
    }

    .div_button {
        flex-direction: column;
        align-items: center;
    }

    .div_button button {
        width: 100%;
        margin-bottom: 10px;
    }
}
